/* THEME COLORS */

:root {
  --bg: #FFEAFF;
  --border: #B48DE8;
  --text: #5B4A7A;
  --accent: #D9C2FF;
  --highlight: #FFF4Fe;
}

body.chopper {
  --bg: #FFE0F7;
  --border: #FFA2DF;
  --text: #7D4165;
  --accent: #FFC4E9;
  --highlight: #FFF3FB;
}

body.luffy {
  --bg: #FFEFE3;
  --border: #FFB87A;
  --text: #8B4A20;
  --accent: #FFD2A9;
  --ighlight: #FFF7F0;
}

body.kuromi {
  --bg: #F3EAFF;
  --border: #BDA6FF;
  --text: #4B3C63;
  --accent: #D2BFFF;
  --highlight: #FAF6FF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #F8EAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.widget {
  width: 280px;
  padding: 18px;
  background: var(--bg);
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  border: 3px solid var(--border);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  color: var(--text);
}

.unit-toggle button {
  background: var(--accent);
  border: none;
  padding: 4px;
  margin-left: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text)
}

.unit-toggle .active {
  width: 150px;
  margin: 12px auto;
  image-rendering: pixelated;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(6px); }
  100% { transform: translateY(0); }
}

.bubble {
  background: white;
  border-radius: 14px;
  padding: 12px;
  border: 2px solid var(--border);
  color: vaR(--text);
  font-size: 15px;
}

#character {
  margin-right: 20%;
  padding: 35px;
}

.theme-select button {
  background: var(--accent);
  border: none;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.weather-icon {
  width: 40px;
  height: 40px;
  image-rendering: pixelated; 
  vertical-align: middle;
  margin-right: 8px;
}
